html {
  overscroll-behavior: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* #root {
  min-height: 100dvh !important;
  min-width: 100dvw !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */
